.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  
}

.App-header {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.about{
  direction: rtl;
}
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-list a:hover {
  text-decoration: underline;
}

.search-box {
  margin-top: 10px;
  padding: 8px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.home-content {
  padding: 40px 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.active {
  background-color: green;
}


